<script>$('#datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
  });</script>
<div class="modal-header">
  <h4 class="modal-title pull-left">Edit Task</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label class="control-label" style="margin-right:10px;">Status:</label>
    <label class="radio-inline">
      <input type="radio" value='New' [formControl]='registerForm.controls["status"]'> New
    </label>
    <label class="radio-inline">
      <input type="radio" value='In Progress' [formControl]='registerForm.controls["status"]' class="ml-3"> In Progress
    </label>
    <label class="radio-inline">
      <input type="radio" value='Finished' [formControl]='registerForm.controls["status"]' class="ml-3"> Finished
    </label>
  </div>
  <label>Progress [%]: </label>
  <app-text-input [formControl]='registerForm.controls["progress"]' [label]='task.progress'>
  </app-text-input>
  <label *appHasRole='["Admin", "Manager"]'>Deadline:</label>
  <app-date-input [value]="task.deadline | date" *appHasRole='["Admin", "Manager"]'
    [formControl]='registerForm.controls["deadline"]' [label]='task.deadline | date'>{{task.deadline}}
  </app-date-input>
  <!-- <input bsDatepicker value="{{task.deadline | date}}">
  <input type="text" [formControl]='registerForm.controls["deadline"]' class='form-control' bsDatepicker value="{{task.deadline | date}}" -->

    <!-- > -->
  

  <!-- <div class=" row">
  <div class="col-sm-4">
    <div class="mb-2">
      <progressbar [value]="55"></progressbar>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="mb-2">
      <progressbar [value]="22" type="warning" [striped]="true">22%</progressbar>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="mb-2">
      <progressbar max="200" [value]="166" type="danger" [striped]="true" [animate]="true"><i>166 / 200</i>
      </progressbar>
    </div>
  </div>
</div> -->
<label>Description: </label>
<textarea [formControl]='registerForm.controls["description"]' placeholder="{{task.description}}" name="" id=""
  cols="55" rows="2"></textarea>











<!-- <div *appHasRole='["Admin", "Manager"]' class="form-check"> -->
<div *appHasRole='["Admin", "Manager"]'>
  <label>Choose an assignee: </label>
  <form #rolesRorm="ngForm">
    <select  style="width:450px; height:40px;" [(ngModel)]="member" name="member" id="member" placeholder="Select...">
      <!-- <select [formControl]='registerForm.controls["member"]'  name="member" id="member"> -->


      <option *ngFor="let member of members" selected="{{member.username}}" value="{{member.username}}">
        {{member.username}}</option>
    </select>
  </form>
</div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  <button [disabled]='!registerForm.valid' type="button" class="btn btn-success"
    (click)="updateTask(task)">Submit</button>
</div>
<!-- <p>Form status: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p> -->