<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card mb-4">
    <div class="card-image-wrapper">
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteProject(project.id)">
            <span aria-hidden="true">&times;</span>
        </button>
        <img src="{{'./assets/download.png'}}" alt="{{project.name}}" class="card-img-top">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item"><button routerLink='/projects/{{project.id}}'
                    style="width: 50px; height: 30px;" class="btn btn-success">
                    <i class="fa fa-info"></i></button></li>
            <li class="list-inline-item"><button (click)="openEditModal()" style="width: 50px; height: 30px;"
                    class="btn btn-warning">
                    <i class="fa fa-bars"></i></button></li>
            <li class="list-inline-item"><button *appHasRole='["Admin"]' (click)="deleteProject(project.id)"
                    style="width:50px; height: 30px;" aria-placeholder="View Tasks" class="btn btn-danger">
                    <i class="fa fa-close"></i>Delete</button></li>
            <!-- <li class="list-inline-item"><button class="btn btn-primary">
                    <i class="fa fa-heart"></i></button></li>
            <li class="list-inline-item"><button class="btn btn-primary">
                    <i class="fa fa-envelope"></i></button></li> -->
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1"><i class="fa fa-user mr-2"></i>
            {{project.name}}
        </h6>
        <p class="card-text text-muted text-center">Open to view all tasks...</p>
    </div>

</div>