<div class="modal-header">
    <h4 class="modal-title pull-left">Edit {{project.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-text-input [formControl]='registerForm.controls["name"]' [label]='"Name"'>
    </app-text-input>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="updateProject()">Submit</button>
</div>